@{
    ViewData["Title"] = "About";
}

   

    <main>
        <section class="py-5">
            <div class="container">
                <h1>Välkommen till eTickets!</h1>
                <p>
                    Vi är en erfaren och pålitlig partner inom branschen och har utfört en mängd spännande projekt.
                </p>
                <p>
                    Vårt team består av Nour,Kamphol och Bojan,specialister inom olika områden. Vi är dedikerade till att leverera högkvalitativa lösningar som överträffar våra kunders förväntningar.
                </p>
                <p>
                    Vi har arbetat med ett brett spektrum av kunder, från små företag till stora internationella organisationer. Våra tjänster omfattar webbdesign, webbutveckling, e-handel, mobilapputveckling och mycket mer.
                </p>
            </div>
        </section>

        <section class="bg-light py-5">
            <div class="container">
                <h2>Våra projekt</h2>
                <p>
                    Här är några exempel på projekt som vi har slutfört:
                </p>
                <ul>
                    <li>Projekt 1 - Utveckling av responsiv webbplats för en modebutik.</li>
                    <li>Projekt 2 - Design och implementation av en e-handelsplattform för en sportutrustningstillverkare.</li>
                    <li>Projekt 3 - Skapande av en mobilapp för en matleveransservice.</li>
                    <li>Projekt 4 - Optimering och förbättring av en befintlig webbplats för en ideell organisation.</li>
                </ul>
            </div>
        </section>
    </main>


