@model Login

<style>
    body {
        background-image: url("https://www.learner.org/wp-content/uploads/2019/01/American-Cinema-main-fig1.jpg");
        background-size: cover;
        background-position: center;
    }

    .card-transparent {
        background-color: rgba(255, 255, 255, 0.8); /* White with 80% opacity */
        padding: 20px;
        border-radius: 15px;
    }

    .btn-primary:hover, .btn-success:hover {
        background-color: #6b664c;
        color: white;
    }
</style>

<div class="container d-flex justify-content-center align-items-center vh-100">
    <div class="col-lg-4">
        <div class="card card-transparent mt-4 mb-4 p-4 rounded">
            <h2 class="text-center mb-4">Welcome to eTickets!</h2>

            <div class="text-center mb-5">
                <p>What would you like to do next?</p>
            </div>

            <div class="d-flex justify-content-around">
                <a asp-controller="Movies" asp-action="Index" class="btn btn-primary">Go to Movies</a>
                <a asp-controller="Account" asp-action="Login" class="btn btn-success">Login</a>
            </div>
        </div>
    </div>
</div>
