@model Login

<style>
    body {
        background-image: url("https://www.learner.org/wp-content/uploads/2019/01/American-Cinema-main-fig1.jpg");
        background-size: cover;
        background-position: center;
    }

    .card-transparent {
        background-color: rgba(255, 255, 255, 0.8); /* White with 80% opacity */
        padding: 20px;
        border-radius: 15px;
    }

    .btn-success:hover {
        background-color: #6b664c;
        color: white;
    }
</style>

<div class="container d-flex justify-content-center align-items-center vh-100">
    <div class="col-lg-6">
        <div class="card card-transparent mt-4 mb-4 p-4 rounded">
            <h2 class="text-center mb-4">Register now at eTickets</h2>

            <div asp-validation-summary="All" class="text-danger"></div>

            <form asp-controller="Account" asp-action="Register" method="post" role="form">
                <h4 class="text-center mb-3">Create a new account and order your movie ticket today!</h4>
                <hr />

                <div class="form-group">
                    <label asp-for="UserName"></label>
                    <input asp-for="UserName" class="form-control" placeholder="Username" required aria-label="Username" />
                    <span asp-validation-for="UserName" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Password"></label>
                    <input asp-for="Password" class="form-control" type="password" placeholder="Password" required aria-label="Password" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>

                <div class="form-group text-start">
                    <button type="submit" class="btn btn-success">Register</button>
                </div>
            </form>
        </div>
    </div>
</div>
