@model Login

<div class="row loginForm">
    <div class="col-md-8 offset-md-2">
        <div class="text-lg-center">
            

            <h1>Register your account at eTickets</h1>
            <hr />
        </div>
        <form asp-controller="Account" asp-action="Register" method="post" class="form-text text-center" role="form">
            <h4>Enter your details below</h4>
            <hr />
            <input type="hidden" asp-for="ReturnURL" />
            <div class="mb-3">
                <label asp-for="UserName" class="col-md-2 col-form-label"></label>
                <div class="col-md-8 offset-md-2">
                    <input asp-for="UserName" class="form-control" />
                    <span asp-validation-for="UserName" class="text-danger"></span>
                </div>
            </div>

            <div class="mb-3">
                <label asp-for="Password" class="col-md-2 col-form-label"></label>
                <div class="col-md-8 offset-md-2">
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
            </div>

            <div class="mb-3 d-flex justify-content-end">
                <div class="col-12">
                    <input type="submit" class="btn btn-success" value="Register" />
                </div>
            </div>
            <div class="mb-3">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            </div>
        </form>
    </div>
</div>
